<!-- ***** Contact Area Start ***** -->
<section class="contact-area section_padding_100">
    <div class="container">
        <div class="row">
            <!-- Contact Form Area -->
            <div class="col-12 col-md-8">
                <div class="contact-form-area">
                    <h2>Get in touch</h2>
                    <form action="#">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="email" class="form-control" id="email" placeholder="E-mail">
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control" id="subject" placeholder="Subject">
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                            </div>
                            <button class="btn mosh-btn mt-50" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Contact Information -->
            <div class="col-12 col-md-4">
                <div class="contact-information">
                    {{ range .Site.Data.pages }}
                        <h2>{{ .contactTitle }}</h2>
                        {{ range .contact }}
                        <div class="single-contact-info d-flex">
                            <div class="contact-icon mr-15">
                                <img src="{{ .locIco }}" alt="">
                            </div>
                            <p>{{ .address }},<br> {{ .city }}, {{ .country }}</p>
                        </div>
                        <div class="single-contact-info d-flex">
                            <div class="contact-icon mr-15">
                                <img src="{{ .phnIco }}" alt="">
                            </div>
                            <p>Main: {{ .phnMain }} <br> Office: {{ .phnOffice }}</p>
                        </div>
                        <div class="single-contact-info d-flex">
                            <div class="contact-icon mr-15">
                                <img src="{{ .emailIco }}" alt="">
                            </div>
                            <p>{{ .email }}</p>
                        </div>
                        {{ end }}
                    {{ end }}
                    <div class="contact-social-info mt-50">
                    {{ range .Site.Data.pages }}
                        {{ range .socials }}
                        <a href="{{ .link }}"><i class="{{ .icoClass }}" aria-hidden="true"></i></a>
                        {{ end }}
                    {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Contact Area End ***** -->

<!-- Google Maps -->
<div class="map-area">
    <div id="googleMap"></div>
</div>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
<script src="{{ .Site.BaseURL }}js/map-active.js"></script>