 <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area clearfix">
        <!-- Top Fotter Area -->
        <div class="top-footer-area section_padding_100_0">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            {{ range .Site.Data.pages }}
                                {{ range .footerData }}
                                <a href="#" class="mb-50 d-block"><img src="{{ .footerLogo }}" alt=""></a>
                                <p>{{ .footerDesc }}</p>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <h5>Fast links</h5>
                            <ul>
                            	{{ range .Site.Menus.footermenu }}
                            	<li>
                            		<a href="#">{{ .Name }}</a>
                            	</li>
                            	{{end}}
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <h5>Blog</h5>
                            {{ $recent := .Site.GetPage "section" "blog" }}
                            {{ range first 3 $recent.Data.Pages }}
                            <div class="footer-single--blog-post">
                                <a href="#" class="blog-post-date">
                                    <p>{{ .Date.Format "January 2, 2006" }}</p>
                                </a>
                                <a href="#" class="blog-post-title">
                                    <h6>{{ .Title }}</h6>
                                </a>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-100">
                            <h5>Contact Info</h5>
                            {{ range .Site.Data.pages }}
                                {{ range .contact }}
                                <div class="footer-single-contact-info d-flex">
                                    <div class="contact-icon">
                                        <img src="{{ .locIco }}" alt="">
                                    </div>
                                    <p>{{ .address }}, {{ .city }}, {{ .country }}</p>
                                </div>
                                <div class="footer-single-contact-info d-flex">
                                    <div class="contact-icon">
                                        <img src="{{ .phnIco }}" alt="">
                                    </div>
                                    <p>Main: {{ .phnMain }} <br> Office: {{ .phnOffice }}</p>
                                </div>
                                <div class="footer-single-contact-info d-flex">
                                    <div class="contact-icon">
                                        <img src="{{ .emailIco }}" alt="">
                                    </div>
                                    <p>{{ .email }}</p>
                                </div>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fotter Bottom Area -->
        <div class="footer-bottom-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="footer-bottom-content h-100 d-md-flex justify-content-between align-items-center">
                            <div class="copyright-text">
                                {{ range .Site.Data.pages }}
                                    {{ range .footerData }}
                                    <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> {{ .copyrightText }}</p>
                                    {{ end }}
                                {{ end }}
                            </div>
                            <div class="footer-social-info">
                                {{ range .Site.Data.pages }}
                                    {{ range .socials }}
                                    <a href="{{ .link }}"><i class="{{ .icoClass }}" aria-hidden="true"></i></a>
                                    {{ end }}
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

<!-- jQuery-2.2.4 js -->
    <script src="{{ .Site.BaseURL }}js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="{{ .Site.BaseURL }}js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="{{ .Site.BaseURL }}js/plugins.js"></script>
    <!-- Active js -->
    <script src="{{ .Site.BaseURL }}js/active.js"></script>
    <!-- Custom js -->
    <script src="{{ .Site.BaseURL }}js/custom.js"></script>
</body>

</html>