<header class="header_area clearfix">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- Menu Area Start -->
            <div class="col-12 h-100">
                <div class="menu_area h-100">
                    <nav class="navbar h-100 navbar-expand-lg align-items-center">
                        <!-- Logo -->
                        <a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}/img/core-img/logo.png" alt="logo"></a>

                        <!-- Menu Area -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mosh-navbar" aria-controls="mosh-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                        <div class="collapse navbar-collapse justify-content-end" id="mosh-navbar">
                            <ul class="navbar-nav animated" id="nav">
                                {{ $currentPage := . }}
                                {{ range .Site.Menus.mainmenu }}
                                    {{ if .HasChildren }}
                                        <li class="nav-item dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                                            <a href="{{ .URL }}" class="nav-link dropdown-toggle" id="moshDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span>{{ .Name }}</span>
                                            </a>
                                            
                                            <div class="dropdown-menu" aria-labelledby="moshDropdown">
                                                {{ range .Children }}
                                                    <a class="dropdown-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                                                {{ end }}
                                            </div>
                                        </li>
                                    {{ else }}
                                        <li class="nav-item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                                            <a href="{{ .URL }}" class="nav-link">
                                                <span>{{ .Name }}</span>
                                            </a>
                                        </li>
                                    {{end}}
                                {{ end }}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
