<div class="mosh-breadcumb-area" style="background-image: url({{ .Site.BaseURL }}/img/core-img/breadcumb.png);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="bradcumbContent">
                    <h2>{{ .Title }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>