<!-- ***** Portfolio Area Start ***** -->
<section class="mosh-portfolio-area section_padding_100_0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mosh-projects-menu">
                    <div class="portfolio-menu">
                        <p class="active" data-filter="*">All</p>
                        {{ range .Site.Data.portfolio }}
                            {{ range .portfolioCats }}
                            <p data-filter=".{{ .catSlug }}">{{ .portfolioCat }}</p>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mosh-portfolio">
        {{ range .Site.Data.portfolio }}
            {{ range .portfolio }}
            <!-- Single gallery Item Start -->
            <div class="single_gallery_item {{ .catSlug }}">
                <img src="{{ .imageUrl }}" alt="">
                <div class="gallery-hover-overlay d-flex align-items-center justify-content-center">
                    <div class="port-hover-text text-center">
                        <h4>{{ .title }}</h4>
                        <a href="#">{{ .subtitle }}</a>
                    </div>
                </div>
            </div>
            {{ end }}
        {{ end }}
    </div>
</section>
<!-- ***** Portfolio Area End ***** -->