<!-- ***** Few Words Area Start ***** -->

    <section class="mosh-team-area section_padding_100">
    {{ range .Site.Data.pages }}
        <p class="text-lead">{{ .mainDesc }}</p>
    {{ end }}
    </section>
{{ range .Site.Data.pages }}
    {{ range .whatwedoSections }}
        {{ $secLayout := .secLayout }}
        {{ if eq $secLayout "odd" }}
            <section class="few-words-from-ceo d-md-flex" id="{{ .secID }}">
                <div class="few-words-contents d-flex align-items-center justify-content-center wow fadeInLeftBig" data-wow-delay="0.1s">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-11 col-lg-9 col-xl-7">
                                <div class="few-words-text">
                                    <div class="section-heading">
                                        <h2>{{ .title }}</h2>
                                    </div>
                                    <p>{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="few-words-thumb bg-img wow fadeInRightBig" data-wow-delay="1.1s" style="background-image: url({{ .imageUrl }});"></div>
            </section>
        {{ else }}
            <section class="few-words-from-ceo d-md-flex" id="{{ .secID }}">
                <div class="few-words-thumb bg-img wow fadeInLeftBig" data-wow-delay="1.1s" style="background-image: url({{ .imageUrl }});"></div>
                <div class="few-words-contents d-flex align-items-center justify-content-center wow fadeInRightBig" data-wow-delay="0.1s">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-11 col-lg-9 col-xl-7">
                                <div class="few-words-text">
                                    <div class="section-heading">
                                        <h2>{{ .title }}</h2>
                                    </div>
                                    <p>{{ .description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {{ end }}
    {{ end }}
{{ end }}    
<!-- ***** Few Words Area End ***** -->