<!-- ***** About Us Area Start ***** -->
<section class="mosh-aboutUs-area section_padding_100_0" id="about">
    <div class="container">
        <div class="row align-items-center">
        	{{range where .Site.Pages ".Params.id" "=" "who-we-are"}} 
	            <div class="col-12 col-md-6">
	                <div class="mosh-about-us-content">
	                    <div class="section-heading">
	                        <h2>{{ .Params.secTitle }}</h2>
	                    </div>
	                    <p>{{ .Content }}</p>
	                </div>
	            </div>
	            <div class="col-12 col-md-6">
	                <div class="mosh-about-us-thumb wow fadeInUp" data-wow-delay="0.5s">
	                    <img src="{{ .Params.aboutImg }}" alt="">
	                </div>
	            </div>
        	{{ end }}
        </div>
    </div>
</section>
<!-- ***** About Us Area End ***** -->
<!-- ***** Team Area Start ***** -->
<section class="mosh-team-area section_padding_100" id="meet-team">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="section-heading text-center">
                	{{ range .Site.Data.pages }}
	                    <p>{{ .teamTitle }}</p>
	                    <h2>{{ .teamSubtitle }}</h2>
	                    <h5 class="mt-30">{{ .secdesc }}</h5>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="mosh-team-slides owl-carousel">
                	{{ range .Site.Data.pages }}
    					{{ range .ourTeam }}
	                    <!-- Single Team Slide -->
	                    <div class="single-team-slide text-center">
	                        <!-- Thumbnail -->
	                        <div class="team-thumbnail">
	                            <img src="{{ .imageUrl }}" alt="">
	                        </div>
	                        <!-- Meta Info -->
	                        <div class="team-meta-info">
	                            <h4>{{ .name }}</h4>
	                            <span>{{ .designation }}</span>
	                            <p>{{ .about }}</p>
	                        </div>
	                        <!-- Social Info -->
	                        <div class="team-social-info">
	                        	{{ range .socials }}
	                            <a href="{{ .link }}"><i class="{{ .icoClass }}" aria-hidden="true"></i></a>
	                            {{ end }}
	                        </div>
	                    </div>
	                    <!-- Single Team Slide -->
	                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Area Start ***** -->