{{ partial "header.html" . }}
  	<!-- ***** Header Area Start ***** -->
    {{ partial "nav" . }}
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <section class="welcome_area clearfix" id="home" style="background-image: url(img/bg-img/welcome-bg.png)">
        <div class="hero-slides owl-carousel">
            {{ range .Site.Data.home }}
                {{ range .slides }}
            <!-- Single Hero Slides -->
            <div class="single-hero-slide d-flex align-items-end justify-content-center">
                <div class="hero-slide-content text-center">
                    <h2>{{ .title }}</h2>
                    <h4>{{ .subtitle }}</h4>
                    <img class="slide-img" src="{{ .imageUrl }}" alt="">
                </div>
            </div>
                {{ end }}
            {{ end }}
        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->

     <!-- ***** Service Area Start ***** -->
    <section class="mosh-service-area clearfix section_padding_0_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="mosh-service-slides owl-carousel">
                        {{ range .Site.Data.home }}
                            {{ range .services }}
                                <!-- Single Service Area -->
                                <div class="single-service-area text-center">
                                    <h2>01.</h2>
                                    <h4>{{ .title }}</h4>
                                    <p>{{ .description }}</p>
                                </div>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Service Area End ***** -->

    <!-- ***** Testimonials Area Start ***** -->
    <section class="mosh-clients-testimonials-area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        {{ range .Site.Data.home }}
                        <p>{{ .testiTitle }}</p>
                        <h2>{{ .testiSubtitle }}</h2>
                        {{ end }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="testimonials-slides owl-carousel">
                        {{ range .Site.Data.home }}
                            {{ range .testimonials }}
                            <!-- Single Testimonial Area -->
                            <div class="single-testimonial-area text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-content">
                                    <span>"</span>
                                    <p>{{ .description }}</p>
                                </div>
                                <!-- Testimonial Meta Data -->
                                <div class="testimonials-meta">
                                    <div class="testimonial-thumb bg-img" style="background-image: url({{ .imageUrl }});"></div>
                                    <h6>{{ .name }}</h6>
                                </div>
                            </div>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Area End ***** -->

    <!-- ***** Cool Facts Area Start ***** -->
    <section class="mosh-cool-facts-area service-page bg-img section_padding_100" style="background-image: url(img/core-img/breadcumb.png);">
        <div class="container">
            <div class="row">
                {{ range .Site.Data.home }}
                    {{ range .stats }}
                    <!-- Single Cool Fact-->
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="single-cool-fact">
                            <div class="counter-area">
                                <h3><span class="counter">{{ .count }}</span>{{ .value }}</h3>
                            </div>
                            <div class="cool-facts-content">
                                <p>{{ .title }}</p>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </section>
    <!-- ***** Cool Facts Area End ***** -->

    <!-- ***** Clients Area Start ***** -->
    <section class="mosh-clients-area section_padding_0_100 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        {{ range .Site.Data.home }}
                            <p>{{ .clientTitle }}</p>
                            <h2>{{ .clientSubtitle }}</h2>
                        {{ end }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="clients-logo-area d-sm-flex align-items-center justify-content-between">
                        {{ range .Site.Data.home }}
                            {{ range .clients }}
                                <a href="#"><img src="{{ .imageUrl }}" alt="client"></a>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Clients Area End ***** -->

{{ partial "footer.html" . }}
