.menu_area #nav .nav-item:last-child .nav-link {
	padding-right: 0;
}
.navbar-toggler {
	cursor: pointer;
}
.pagination-wrap .pagination {
	display: block;
	margin-top: 80px;
	text-align: center;
}
.pagination-wrap .pagination li {
	display: inline-block;
}
.pagination-wrap .pagination li a {
	display: block;
	margin: 0 2px;
	background: #4a7aec;
	height: 35px;
	width: 35px;
	line-height: 35px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	color: #fff;
}
.pagination-wrap .pagination li.next-prev-link a {
	margin: 0 10px;
	height: 35px;
	width: 35px;
	line-height: 35px;
}
.pagination-wrap .pagination li a:hover {
	background: #25499f;
}
.pagination-wrap .pagination li.active a {
	background: #25499f;
	pointer-events: none;
}
.pagination-wrap .pagination li.disabled {
	opacity: 0.7;
	pointer-events: none;
}
.text-lead {
	font-size: 20px;
	text-align: center;
	margin: auto;
	width: 60%;
}
.few-words-contents, .few-words-thumb {
	height: 500px;
}
.few-words-contents .section-heading {
	text-transform: uppercase;
}
.post-meta h6 .post-catlinks a {
	margin-right: 0;
	margin-left: 5px;
}
.post-meta h6 .post-catlinks a:first-child {
	margin-left: 0;
}
.post-meta h6 .post-catlinks a:last-child {
	margin-right: 5px;
}