{{ partial "header.html" . }}
	{{ partial "nav.html" . }}
	{{ partial "page-title.html" . }}
	<section class="blog-area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="mosh-blog-posts">
                    	<div class="single-blog wow fadeInUp" data-wow-delay="0.2s">
	                    	<!-- Post Thumb -->
	                        <div class="blog-post-thumb">
	                            <img src="{{ .Site.BaseURL }}{{ .Params.blogImg }}" alt="">
	                        </div>
	                        <!-- Post Meta -->
                            <div class="post-meta">
                                <h6>By <a href="#">{{ .Params.author }},</a>
                                	<a href="#">{{ .Date.Format "January 2, 2006" }},</a>
                                	<span class="post-catlinks">
                            		{{ range $index, $cat := .Params.categories }}{{ if gt $index 0 }},{{ end }}<a href="{{ "categories/" | relURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
                            		</span>
                            	</h6>
                            </div>
                    		{{ .Content }}
                    	</div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="mosh-blog-sidebar">

                        <div class="blog-post-categories mb-100">
                            <h5>Categories</h5>
                            <ul>
	                            {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
                                <li><a href="{{.Permalink}}">{{.Title}}</a></li>
								{{end}}
                            </ul>
                        </div>

                        <div class="latest-blog-posts mb-100">
                            <h5>Latest Posts</h5>
                            {{ $recent := .Site.GetPage "section" "blog" }}
                            {{ range first 4 $recent.Data.Pages }}
                            <!-- Single Latest Blog Post -->
                            <div class="single-latest-blog-post d-flex">
                                <div class="latest-blog-post-thumb">
                                    <img src="{{ .Site.BaseURL }}{{ .Params.blogImg }}" alt="{{ .Title }}">
                                </div>
                                <div class="latest-blog-post-content">
                                    <h6><a href="#">{{ .Title }}</a></h6>
                                    <div class="post-meta">
                                        <h6>By <a href="#">{{ .Params.author }}</a>/<a href="#">{{ .Date.Format "Jan 2, 2006" }}</a></h6>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ partial "footer.html" . }}